# drop a systemd service in ~/.config/systemd/user
# mkdir -p ~/.microbin
# systemctl --user enable microbin.service
# systemctl --user daemon-reload
# systemctl --user start microbin.service
# doc: https://www.freedesktop.org/software/systemd/man/latest/systemd.unit.html#Specifiers
[Unit]
Description=Run microbin server
[Service]
ExecStart=%h/.cargo/bin/microbin -p1055 --hide-footer --disable-telemetry --disable-update-checking --default-expiry=never --qr --data-dir %h/.microbin
[Install]
WantedBy=default.target
